<header style="text-align:center">
  <nav>
    <img src="http://i41.servimg.com/u/f41/12/31/66/23/superr10.png" alt="Smiley face" height="30" width="30">
    <a routerLink="/historietas" routerLinkActive="active">Mis historietas</a>
    <a routerLink="/cosas" routerLinkActive="active">Mis cosas</a>
    <a routerLink="/colegas" routerLinkActive="active">Mis colegas</a>
    <a routerLink="/eventos" routerLinkActive="active">Eventos</a>
  </nav>
</header>
<div class="persona">
  <div class="img">
    <img src="../assets/cristian.jpg" alt="cristian">
  </div>
  <div class="nombrePer">
    <h2>Cristian Emilio</h2>
    <h3>Escobar</h3>
  </div>
</div>

<router-outlet></router-outlet>

<footer>
  Copyright salvatv - 2017 - FriendsNet - Tu red de mierda
</footer>