<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome {{title}}!
  </h1>
  <img width="300" src="http://i41.servimg.com/u/f41/12/31/66/23/superr10.png" alt="Smiley face" height="200" width="200">
 
</div>
<div>      
  <nav>
    <a routerLink="/crisis-center" routerLinkActive="active">Trololo</a>
    <a routerLink="/heroes" routerLinkActive="active">Listado</a>
    <a routerLink="/order" routerLinkActive="active">Carrito</a>
  </nav>
</div>
<router-outlet></router-outlet>