<p align="center">
  <marquee scrollamount="15">I'm fast!</marquee><br>
  <marquee scrollamount="16">I'm faster!</marquee><br>
  <marquee scrollamount="18">I'm fastest!</marquee><br>
  <marquee scrollamount="135">I'm fastestest!!!</marquee>
</p>

<p><input type="text" [(ngModel)]="search" placeholder="buscar"></p>

<h1>Total items: {{totalItems()}}</h1>
<h1>Total stock: {{totalStock()}}</h1>

<ul>
  <app-item *ngFor="let myItem of myItems | mySearch:'name':search" [myItem]="myItem" (cart)="addToCart($event)"></app-item>
 </ul>